* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #4b6af6;
  line-height: 1.5;
}

.background {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}

.bgImg {
  background-size: cover;
  background-image: linear-gradient(rgba(38, 38, 43, 1), rgba(34, 34, 40, 0.1)),
    url(./img/bg1.jpeg);
}

.title {
  margin-top: 6%;
  text-align: center;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 4%;
  padding: 0 8%;
  font-size: 24px;
  font-weight: 500;
}

.players > div {
  width: 200px;
}

.wrapper-hero {
  position: absolute;
  margin-top: 40px;
  width: 220px;
  height: 220px;
  background-size: cover;
}

@media screen and (max-width: 760px) {
  .wrapper-hero {
    position: static;
  }
}
@media screen and (max-width: 530px) {
  .players {
    padding: 0;
  }
  .wrapper-hero {
    margin: 0;
    width: 180px;
    height: 180px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 75px);
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  /* background-color: #fafafa; */
  border: 1px solid #738bf8;
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background: #e3e7fd;
}

.box {
  display: flex;
  background-color: white;
  border-radius: 8px;
}

.message {
  margin-top: 20px;
  padding: 30px;
  animation: showing 0.8s forwards;
}
.message > div {
  margin-bottom: 16px;
  padding: 8px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 8px;
}

/* ====== Animations ======= */

.hero-x {
  background-image: url(./img/nin8.png);
  animation: slideInX 1s forwards;
  transition: opacity 3s ease, transform 1s ease;
}
.hero-0 {
  background-image: url(./img/nin2.png);
  animation: slideInY 1s forwards;
  transition: opacity 3s ease, transform 1s ease;
}

@keyframes slideInX {
  from {
    left: -220px;
    opacity: 0;
    transform: scale(0) rotate(-360deg);
  }
  to {
    left: 80px;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes slideInY {
  from {
    right: -220px;
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  to {
    right: 60px;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
